.dashboard {
    align-items: center;
    padding: 20px;
    width: 60%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 2px rgb(46, 46, 46, 0.9);
    border-radius: 15px;
    overflow-y: scroll;
    max-height: 800px;
    h2 {
        font-size: x-large;
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgb(49, 49, 49);
        text-align: center;
    }
    h1 {
        font-size: xx-large;
        font-family: Georgia, 'Times New Roman', Times, serif;
        align-items: center;
    }
    h3 {
        font-size: x-large;
        font-family: Georgia, 'Times New Roman', Times, serif;
        align-items: center;
        color: green;
    }
    .finalstats{
        display: flex;
        flex-direction: column;
        max-height: 300px;
        padding: 10px;
        min-width: 500px;
        box-shadow: 0px 2px 2px rgb(46, 46, 46, 0.09);
        border-radius: 10px;
        margin-bottom: 10px;
        p {
            padding: 5px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: large;
            margin: auto;
        }
        background-color: rgb(176, 246, 255);
    }
    .nodestats {
        background-color: rgb(0, 141, 146);
        padding: 20px;
        margin: auto;
        min-width: 900px;
        align-items: center;
        display: flex;
        flex-direction: column;
        box-shadow: 0px 2px 2px rgb(46, 46, 46, 0.09);
        border-radius: 10px;
        h2 {
            color: white;
        }
        min-height: 300px;
        max-height: 600px;
        overflow-y: scroll;
    }
    .nodeDetails {
        background-color: rgb(255, 255, 255);
        display: flex;
        box-shadow: 0px 1px 1px rgb(46, 46, 46, 0.03);
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
        padding: 10px;
        min-width: 1000px;
        border-radius: 10px;
        font-family: Georgia, 'Times New Roman', Times, serif;
        span {
            font-size: large;
            font-weight: 400;
            margin-bottom: 3px;
        }
        .metrics {
            background-color: rgb(218, 255, 252);
            display: flex;
            padding: 5px;
            margin: auto;
            align-items: center;
            border-radius: 10px;
            max-height: 100px;
            min-width: 800px;
            p {
                padding: 5px;
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: large;
                margin: auto;
                align-items: center;
            }
        }
        
    }
    .greyed-out {
        opacity: 0.5; /* You can adjust the opacity or add other styles as needed */
    }
    .nav-button{
        margin: 10px;
        background-color: rgb(5, 66, 66);
        padding: 10px;
        color: white;
        font-size: large;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        &:hover{
            background-color: rgb(0, 110, 110);
        }
    }
}
